/*style with mobile first in mind*/
*{
    margin: 0;
}
header{
    background-color: #3CB371;
    height: 100px;
    width: 100%;
    
}
#welcome-section{
    min-height: 100vh;
}

#navbar{
    position: fixed;
    top: 0;
}

@media only screen and (min-width: 769px) {
    
}