/*style with mobile first in mind*/
* {
  margin: 0;
  padding: 0;
  color: white;
}
header {
  background-color: #3cb371;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

#navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: auto;
  position: relative;
  font-size: 25px;
}

ul {
  list-style: none;

  margin: auto;
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:visited {
  text-decoration: none;
  color: white;
}

#welcome-section {
  min-height: 100vh;
  background-color: #232426;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-section h1 {
  color: white;
  text-align: center;
  font-size: 52.8px;
  text-align: center;
}

#welcome-section p {
  color: #3cb371;
  font-size: 26.4px;
  text-align: center;
  font-style: italic;
}

#projects {
  background-color: #45567d;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

#projects h2 {
  margin-top: 25px;
  font-size: 35.2px;
  text-align: center;
  color: white;
}

#project-tile {
  width: 100%;
}

.project-img {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 90%;
  object-fit: contain;
  border-style: solid;
  border-color: #3cb371;
  border-width: medium;
}

.link-div {
  width: 85%;
  height: 25px;
  background-color: #232426;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

@media only screen and (min-width: 769px) {
}
