/*style with mobile first in mind*/
* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #3cb371;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}

#navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

ul {
  list-style: none;

  margin: auto;
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:visited{
  text-decoration: none;
  color: white;  
}
  
  


#welcome-section {
  min-height: 100vh;
  background-color: #232426;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#welcome-section h1 {
  color: white; 
  text-align: center;
  font-size: 52.8px;
  text-align: center;
}

#welcome-section p {
  color: #3cb371;
  font-size: 26.4px;
  text-align: center;
  font-style: italic;
}

#projects{
  background-color: #45567D;
}

#projects h2{
  font-size: 35.2px;
  text-align: center;
  color: white;
}


#navbar {
  position: relative;
  font-size: 25px;
}

@media only screen and (min-width: 769px) {
}
